html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 20px;
	background: #f6f6f6;
	color: #23495d;
	opacity:0;
	transition: opacity 2s;
	-webkit-transition: opacity 2s; /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
			color: #23495d;
}

h2 {
	font-size: 50px;
}

h4 {
	font-size: 30px;
}
/*Navigation Bar*/

.grow:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-fixed-top.scrolled {
  background-color: whitesmoke !important;
  transition: background-color 200ms linear;
	color: #31708f !important;

}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
    font-weight: 700;
    color: #6a7e90;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #6a7e90;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #3b5998;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #3b5998!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #6a7e90;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #6a7e90;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #6a7e90;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: black;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #3b5998;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #3b5998;
    }
}

/*Header*/
header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-image: url('assets/images/mountains.jpg');
}

header .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
}

section, #contact {
	position: relative;
	width: 100%;
	padding: 80px 15px;
	text-align: center;
}

.header-content-inner {
	padding-top: 100px;
}

.profile-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.header-name {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 400;
	color: #23495d;
	margin-top: 80px;
}

.social {
	font-size: 30px;
}

h3 {
	color: #23495d;
	font-size: 40px;
	margin: 0;
	padding-bottom: 5px;

}

.bg-primary {
    background-color: whitesmoke;
}

#contact {
    background-color: lightgrey;
		padding-top: 200px;
		padding-bottom: 200px;
}

.bg-about {
	background-color: whitesmoke;
}


p, #projects, #contact{
	color: #23495d;

}

#projects{
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: lightgrey;
}

.shadow-box:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.project-image {
	width: 70%;
	height: 70%;
}

.project-name{
	text-align: center;
}

.portfolio-box-caption {
	padding-top: 10px;
	text-align: left;
	font-size: 18px;
}

.about-content {
	font-size: 14px;
}

.recs {
	font-style: italic;
	font-size: 15px;
	padding-right: 20px;
	margin-left: auto;
	text-align: center;
}

.rec-box {
	padding-right: 25px;
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

#recommendations {
	margin-top: 30px;
	padding-top: 20px;
}

.bg-recs {
	background-color: whitesmoke;
}

.row-centered {
}
