html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 20px;
	background: #f6f6f6;
	color: #23495d;
	opacity:0;
	transition: opacity 2s;
	-webkit-transition: opacity 2s; /* Safari */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
			color: #243C84;
}

h2 {
	font-size: 50px;
}

.about-me {
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	font-size: 30px;
}
/*Navigation Bar*/

.grow:hover
{
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
    background-color: whitesmoke;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-fixed-top.scrolled {
  background-color: whitesmoke !important;
  transition: background-color 200ms linear;
	color: #10225B !important;

}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Varela Round',Arial,sans-serif;
    font-weight: 700;
    color: #39589F;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #10225B;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #39589F;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #10225B;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #10225B !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #10225B;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #39589F;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #10225B;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #39589F;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #39589F;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #10225B;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #10225B;
    }
}

/*Header*/
header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

header .header-content {
	position: relative;
	width: 100%;
	padding: 100px 15px;
	text-align: center;
}

section, #contact {
	position: relative;
	width: 100%;
	padding: 80px 15px;
	text-align: center;
}

.header-content-inner {
	padding-top: 100px;
}

.header-name {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 400;
	color: #10225B;
	margin-top: 100px;
	margin-bottom: 30px;
	letter-spacing: 10px;
}

.profile-img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}

.profile-content {
	margin-bottom: 20px;
	text-align: left;
	font-size: 18px;
}


.social a {
	font-size: 25px;
	color: white;
	padding-right: 15px;
}

h3 {
	color: #10225B;
	font-size: 40px;
	margin: 0;
	padding-bottom: 5px;

}

.bg-primary {
    background-color: whitesmoke;
}

#contact {
    background-color: whitesmoke;
		padding-top: 200px;
		padding-bottom: 200px;
}

.contact-header {
	color: white;
	margin-top: 100px;
}

.bg-about {
	background-color: whitesmoke;
}


p, #projects, #contact{
	color: #10225B;

}

#projects{
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: white;
}

.color-box:hover {
  background-color: #9DAECB;
}

.shadow-box:hover {
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.project-image {
	width: 70%;
	height: 70%;
}

.project-name{
	text-align: center;
}

.portfolio-box-caption {
	padding-top: 10px;
	text-align: left;
	font-size: 18px;
}

.about-content {
	font-size: 14px;
}

.bg-recs {
	background-color: #10225B;
}

.recs {
	font-style: italic;
	font-size: 17px;
	padding-right: 20px;
	margin-left: auto;
	text-align: center;
}

.rec-box {
	padding-right: 30px;
	padding-left: 30px;
	text-align:left;
}

.rec-box p {
	color: #fff;
}

#recommendations {
	margin-top: 0px;
	padding-top: 80px;
}

.bg-contact {
	background-color: whitesmoke;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	min-height: 100%;
}
